<div>
  <h1 class="headline-big">About Us</h1>
  <p class="copy">At Sonikpass, we strongly believe that the next generation of technology must have security built from the very start.
  <br><br>We are based in Los Angeles and San Francisco and if we're not busy redefining the worlds security solution then you'll find us skiing, surfing or swimming...or enjoying all the benefits of the great state of California.</p>
	 
	 <input type="email" name="username" id="username" placeholder="Your Email">
	 <a href="#privacy" class="signup">
	 	Let's Go
	 </a>
	 
	 
</div>
