<div class="global-container">
  <div class="content-container">
    <div id="intro">
      <div class="inner-container">
        <div class="intro-message">
          <div class="col-8 col-center">
            <!-- title via js -->
          </div>
          
          <div class="col-5 col-center">
            
            <div class="accordion">
              <!-- faqs via js  -->
            </div>
          </div>
        </div>
      </div>
    </div><!-- end intro -->
    <div class="type-divider"></div>
    
    <div id="">
      <div class="inner-container">
        <div class="col-4 col-center">
          
          <span class="circle-num-label">
            <span>next</span>
          </span> 

          <h1 class="headline">Get Sonikpass</h1>
          <p class="copy">Secure your enterprise with one solution that works everywhere and easily integrates with your existing infrastructure</p>
            <div class="button-gradient">
              <button>Get Started</button>
            </div>
            <a href="">
              <button>More Info</button>
            </a>
        </div>
      </div>
    </div><!-- end partner -->
    
    <div id="footer-region" class="copyright"></div>
    <div class="footer"></div><!-- end footer -->
  </div><!-- end content-container -->
</div><!-- end global-container -->