<!DOCTYPE html>
<html lang="en">
<head>
	<meta charset="UTF-8">
	<title>Sonikpass</title>

	<meta name="viewport" content="width=device-width, initial-scale=1">

	<meta property="og:title" content="Sonikpass: The Future Of Identity Managamen">
	<meta property="og:site_name" content="site">
	<meta property="og:url" content="http://www.sonikpass.com/">
	<meta property="og:description" content="We set out to create an identity management solution that was built for the future and had the most elegant user experience. We came up with something that can be deployed at the most critical government, commercial, and non-profit institutions in the world to solve identity problems we could not even imagine.">
	<meta property="og:image" content="http://www.sonikpass.com/assets/thumb.jpg" />
	<meta property="og:type" content="website">
	<meta name="twitter:card" content="summary">
	<meta name="twitter:site" content="@sonikpass">
	<meta name="twitter:title" content="Sonikpass: The Future Of Identity Managamen">
	<meta name="twitter:description" content="We set out to create an identity management solution that was built for the future and had the most elegant user experience.">
	<meta name="twitter:image:src" content="http://www.sonikpass.com/assets/thumb.jpg">
	<meta name="robots" content="index, follow">
	<meta name="description" content="We set out to create an identity management solution that was built for the future and had the most elegant user experience." />
	<link rel="canonical" href="http://www.sonikpass.com/" />
    <link rel="apple-touch-icon" sizes="57x57" href="http://www.sonikpass.com/assets/icons/apple-touch-icon-57x57-precomposed.png">
    <link rel="apple-touch-icon" sizes="60x60" href="http://www.sonikpassis.com/assets/icons/apple-touch-icon-60x60-precomposed.png">
    <link rel="apple-touch-icon" sizes="72x72" href="http://www.sonikpassis.com/assets/icons/apple-touch-icon-72x72-precomposed.png">
    <link rel="apple-touch-icon" sizes="76x76" href="http://www.sonikpassis.com/assets/icons/apple-touch-icon-76x76-precomposed.png">
    <link rel="apple-touch-icon" sizes="114x114" href="http://www.sonikpassis.com/assets/icons/apple-touch-icon-114x114-precomposed.png">
    <link rel="apple-touch-icon" sizes="120x120" href="http://www.sonikpassis.com/assets/icons/apple-touch-icon-120x120-precomposed.png">
    <link rel="apple-touch-icon" sizes="144x144" href="http://www.sonikpassis.com/assets/icons/apple-touch-icon-144x144-precomposed.png">
    <link rel="apple-touch-icon" sizes="152x152" href="http://www.sonikpassis.com/assets/icons/apple-touch-icon-152x152-precomposed.png">
    <link rel="icon" type="image/png" href="http://www.sonikpassis.com/assets/icons/favicon-32x32.png" sizes="32x32">
    <link rel="icon" type="image/png" href="http://www.sonikpassis.com/assets/icons/favicon-96x96.png" sizes="96x96">
    <link rel="icon" type="image/png" href="http://www.sonikpassis.com/assets/icons/favicon-16x16.png" sizes="16x16">
    <link rel="manifest" href="http://www.sonikpassis.com/manifest.json">
    <meta name="msapplication-TileColor" content="#ce3745">
    <meta name="msapplication-TileImage" content="http://www.sonikpassis.com/assets/icons/mstile-144x144.png">
    <meta name="theme-color" content="#ffffff">
    <link rel="shortcut icon" href="http://www.sonikpassis.com/assets/icons/favicon.ico">

	<link rel="stylesheet" href="../css/style.min.css">
	
	<script src="../js/vendor/bundle.js"></script>
	<script src="../js/main.min.js"></script>
	<!-- <script src="../src/js/main.js"></script> -->

</head>
<body class="is-loading">

<div class="global-container">
	
	<a href="#intro" class="logo" style="opacity: 1; transform: translate(0,0)">
		<div class="logo-icon"></div>
		<div class="logo-type"></div>
	</a> <!-- end logo -->

	<div class="hamburger-menu" style="opacity: 1; transform: translate(0,0)">
		<div class="hamburger"></div>
	</div> <!-- end hamburger-menu -->

	<div class="request" style="opacity: 1; transform: translate(0,0)"><a href="mailto:sales@sonikpass.com?subject=Try%20Sonikpass">Try Sonikpass</a></div>

	<ul class="sidebar" style="opacity: 1; transform: translate(0,0)">
		<li><a href="#intro" class="sidebar-item" style="opacity: 1; transform: translate(0,0)"><span class="sidebar-line"></span></a></li>
		<li><a href="#problem" class="sidebar-item" style="opacity: 1; transform: translate(0,0)"><span class="sidebar-line"></span></a></li>
		<li><a href="#solution" class="sidebar-item" style="opacity: 1; transform: translate(0,0)"><span class="sidebar-line"></span></a></li>
		<li><a href="#usecases" class="sidebar-item" style="opacity: 1; transform: translate(0,0)"><span class="sidebar-line"></span></a></li>
		<li><a href="#partner" class="sidebar-item" style="opacity: 1; transform: translate(0,0)"><span class="sidebar-line"></span></a></li>
	</ul>

	<div class="meter" style="opacity: 1;">0.00001dB</div>
	<div class="copyright">— © Copyright 2016 by Sonikpass. All rights reserved. <a href="http://www.sonikpass.com/legal.html">| Legal </a><a href="https://www.twitter.com/sonikpass">| Twitter </a><a href="mailto:supporto@sonikpass.com?subject=Hello">| Support </a></div>

	<div class="content-container">

		<div id="partner">
			<div class="inner-container">
				<ul class="team"></ul>
			</div>
		</div> <!-- end partner -->

		<div class="footer"></div> <!-- end footer -->

	</div> <!-- end content-container -->

	<div class="divider"></div>
	<div class="global-background"></div>
	<div class="menu-container">
		<ul class="menu center">
			<li class="menu-item"><a href="#intro">Home</a></li>
			<li class="menu-item"><a href="#problem">Problem</a></li>
			<li class="menu-item"><a href="#solution">Solution</a></li>
			<li class="menu-item"><a href="#usecases">Usecases</a></li>
			<li class="menu-item"><a href="#partner">Contact</a></li>
			<li class="menu-item menu-line"></li>
			<li class="menu-item">
				<ul class="menu-ctas">
					<li class="menu-cta">Contact Us</li>
					<li class="menu-cta"><a href="https://www.twitter.com/sonikpass">Twitter</a></li>
					<li class="menu-cta"><a href="mailto:supporto@sonikpass.com?subject=Hello">Support</a></li>
				</ul>
			</li>
		</ul>
		<div class="address">Sonikpass - Los Angeles • San Francisco • Vancouver, (424) 216-8270, <a href="mailto:hello@sonikpass.com?subject=Hello">hello@sonikpass.com</a></div>
	</div>

</div> <!-- end global-container -->
	
</body>
</html>